<app-header></app-header>

<section class="containerAll">

    <div>

        <p>1. Suspiciousness, paranoid ideas, or uneasiness with others</p>
       
        <div class="radioThing flex items-center mb-4">
            <input id="answer1yes" type="radio" value="yes" name="default-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="answer1yes" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Yes</label>
        </div>
        <div class="flex items-center">
            <input checked id="answer1yes" type="radio" value="no" name="default-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="answer1yes" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">No</label>
        </div>

        <p style="margin-top: 1em;">2. Trouble thinking clearly and logically</p>
       
        <div class="radioThing flex items-center mb-4">
            <input id="answer2yes" type="radio" value="yes" name="default-radio2" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="answer2yes" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Yes</label>
        </div>
        <div class="flex items-center">
            <input checked id="answer2yes" type="radio" value="no" name="default-radio2" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="answer2yes" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">No</label>
        </div>

        <p style="margin-top: 1em;">3. Withdrawing socially and spending a lot more time alone</p>
       
        <div class="radioThing flex items-center mb-4">
            <input id="answer3yes" type="radio" value="yes" name="default-radio3" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="answer3yes" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Yes</label>
        </div>
        <div class="flex items-center">
            <input checked id="answer3yes" type="radio" value="no" name="default-radio3" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="answer3yes" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">No</label>
        </div>

        <p style="margin-top: 1em;">4. Disruption of sleep, including difficulty falling asleep and reduced sleep time</p>
       
        <div class="radioThing flex items-center mb-4">
            <input id="answer4yes" type="radio" value="yes" name="default-radio4" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="answer4yes" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Yes</label>
        </div>
        <div class="flex items-center">
            <input checked id="answer4yes" type="radio" value="no" name="default-radio4" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="answer4yes" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">No</label>
        </div>

        <p style="margin-top: 1em;">5. Difficulty telling reality from fantasy</p>
       
        <div class="radioThing flex items-center mb-4">
            <input id="answer5yes" type="radio" value="yes" name="default-radio5" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="answer5yes" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Yes</label>
        </div>
        <div class="flex items-center">
            <input checked id="answer5yes" type="radio" value="no" name="default-radio5" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="answer5yes" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">No</label>
        </div>

        <p style="margin-top: 1em;">6. Decline in self-care or personal hygiene</p>
       
        <div class="radioThing flex items-center mb-4">
            <input id="answer6yes" type="radio" value="yes" name="default-radio6" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="answer6yes" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Yes</label>
        </div>
        <div class="flex items-center">
            <input checked id="answer6yes" type="radio" value="no" name="default-radio6" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="answer6yes" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">No</label>
        </div>
        
        <div class="containerButton">
            <button type="button" (click)="submit()" class="buttonStyle text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Submit Answers</button>
        </div>
        

    </div>
    
    

</section>

<app-footer></app-footer>